.products-component{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card{
    display: grid;
    width: 238px;
    height: auto;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: transform ease 0.3s;
}

.product-card:hover{
    transform: scale(1.03);
}

.product-card img{
    margin: auto;
    width: 238px;
    height: auto;
}


.price-p{
    text-align: end;
    margin-top: 0;
}

.product-card button{
    -webkit-appearance: none;
    appearance: none;
    width: 135px;
    font-size: 0.9rem;
    font-family: 'Vazirmatn', Tahoma, sans-serif;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #e6ded2;
    border: 1px solid black;
    margin: auto;
    cursor: pointer;
}

.product-card button:active{
    background-color: #d3cabc; 
}

@media (max-width: 600px){
    .product-card{
        width: auto;
    }
    .product-info{
        display: flex;
        gap: 10px;
    }

    .product-info img{
        width: 150px;
    }

    .product-card button{
        margin-top: 15px;
    }
}

@media (max-width: 450px){
    .product-info img{
        width: 110px;
    }

    .product-p p{
        font-size: 0.8rem;
    }
}